* { font-family:'Open Sans', sans-serif; }

.container {
     margin-top: 5vh;
     margin-left: 20vh;
}

.title{
    color: #F84570;
    margin-top: 5vh;
}

.row_width{
    min-width: 10%;
}

.font{
    color: #F84570;
}

.MuiTableCell-root{
    font-weight: bold;
}

