.container{
    margin-top: 5vh;
}

#title{
    font-weight: bold;
    color: #F84570;
    margin-bottom: 4vh;
}

#updateButton{
    margin-top: 7vh;
    border-radius: 30px;
    font-size: small;
}

#entry, #entry1{
    color: white;
}

#req{
    margin-top: 3vh;
    color: white;
}

#link {
    text-decoration: none;
}

@media screen and (max-width: 700px) {
    #req{
        margin-left: 15vw;
    }
}