.typo {
    padding-top: 6vh;
    color: #F84570;
    text-align: center;
}

#gameButt {
    width: 250px;
    height: 58px;
    background-color: #F84570;
    border-radius: 100px;
    margin-top: 33vh;
}

#editButton{
    display: flex;
    top: 10vh;
    margin: 0 auto;
    border-radius: 50px;
    max-width: 45%;
    background-color: #ff6d8f;
}

@media screen and (max-width: 700px) {
    #gameButt {
        width: 180px;
        height: 55px;
        background-color: #F84570;
        border-radius: 100px;
        margin-top: 33vh;
    }

    .typo {
        padding-top: 4vh;
        color: #F84570;
        text-align: left;
    }

    #editButton{
        margin-left: 0;
        max-width: 40%;
    }
}